body,
html {
    background-color: #4c4c4c;
}
.title {
    color: white;
}
#terminal {
    height: 500px;
    background-color: #3d3d3d;
    color: white;
    border: none;
}
.container {
    margin-top: 10px;
}

#inputTerminal {
    margin-top: 10px;
    color: white;
    background-color: #3d3d3d;
    border: none;
    box-shadow: none;
}

#sendButton {
    margin-top: 20px;
}

.checkbox {
    margin-top: 25px;
    margin-left: 5px;
    color: white;
}
